* {
 margin: 0;
 padding: 0;
}

body {
 height: 100vh;
 display: flex;
 background-color: gray;
 justify-content: center;
 align-items: center;
}

/* .center {
 display: flex;
 flex-direction: column;
} */